<template>
  <div class="album py-5">
    <div class="container">
      <div v-if="!!races.length"
        class="accordion"
        id="raceCategories">

        <!-- Greyhound racing -->
        <div class="accordion-item">
          <h2 class="accordion-header"
            id="headingGreyhoundRacing">
            <button class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseGreyhoundRacing"
              aria-expanded="true"
              aria-controls="collapseGreyhoundRacing">
              Greyhound Racing
            </button>
          </h2>
          <div id="collapseGreyhoundRacing"
            class="accordion-collapse collapse show"
            aria-labelledby="headingGreyhoundRacing"
            data-bs-parent="#raceCategories">
            <div class="accordion-body">
              <div v-if="!!greyhoundRaces.length">
                <card v-for="race in greyhoundRaces"
                  :category="RACE_CATEGORIES.GREYHOUND"
                  :race="race"
                  :key="race.race_id" />
              </div>
              <p v-else>No upcoming Greyhound Races.</p>
            </div>
          </div>
        </div>


        <!-- Harness racing -->
        <div class="accordion-item">
          <h2 class="accordion-header"
            id="headingHarnessRacing">
            <button class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseHarnessRacing"
              aria-expanded="true"
              aria-controls="collapseHarnessRacing">
              Harness Racing
            </button>
          </h2>
          <div id="collapseHarnessRacing"
            class="accordion-collapse collapse"
            aria-labelledby="headingHarnessRacing"
            data-bs-parent="#raceCategories">
            <div class="accordion-body">
              <div v-if="!!harnessRaces.length">
                <card v-for="race in harnessRaces"
                  :key="race.race_id"
                  :category="RACE_CATEGORIES.HARNESS"
                  :race="race" />
              </div>
              <p v-else>No upcoming Harness Races.</p>
            </div>
          </div>
        </div>

        <!-- Horse racing -->
        <div class="accordion-item">
          <h2 class="accordion-header"
            id="headingHorseRacing">
            <button class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseHorseRacing"
              aria-expanded="true"
              aria-controls="collapseHorseRacing">
              Horse Racing
            </button>
          </h2>
          <div id="collapseHorseRacing"
            class="accordion-collapse collapse"
            aria-labelledby="headingHorseRacing"
            data-bs-parent="#raceCategories">
            <div class="accordion-body">
              <div v-if="!!horseRaces.length">
                <card v-for="race in horseRaces"
                  :key="race.race_id"
                  :category="RACE_CATEGORIES.HORSE"
                  :race="race" />
              </div>
              <p v-else>No upcoming Horse Races.</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</template>

<script lang="tsx">
import { defineComponent, PropType } from 'vue'
import { DateTime } from 'luxon'

import { Card } from '@/components'
import { IRace, RACE_CATEGORIES, RACE_CATEGORY_IDS } from '@/@types'

export default defineComponent({
  name: 'Races',
  props: {
    races: {
      type: Array as PropType<IRace[]>,
      required: true,
      default: () => [],
    },
  },
  data() {
    return {
      RACE_CATEGORIES,
    }
  },
  components: {
    Card,
  },
  computed: {
    currentRaces() {
      return this.races
        .filter(race => {
          // Race should disappear from the list after 1 min past the start time
          const startTimeAfterMinute = race.advertised_start.seconds + 60

          return startTimeAfterMinute >= 60
        })
    },
    greyhoundRaces() {
      return this.currentRaces.filter(race => race.category_id === RACE_CATEGORY_IDS.GREYHOUND)
    },
    harnessRaces() {
      return this.currentRaces.filter(race => race.category_id === RACE_CATEGORY_IDS.HARNESS)
    },
    horseRaces() {
      return this.currentRaces.filter(race => race.category_id === RACE_CATEGORY_IDS.HORSE)
    },
  },
})
</script>
