<template>
  <div :key="race.race_id">
    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-start">{{ race.race_name }}</h2>
        <h5 class="featurette-heading text-start">
          <span>Race Number - </span>
          <strong>{{ race.race_number }}</strong>
        </h5>
        <h5 class="featurette-heading text-start">
          <span>Race starts in - </span>
          <strong>{{ getCountdownTimer(race.advertised_start.seconds) }}</strong>
        </h5>
        <p v-if="race.race_form.race_comment"
          class="lead text-start">{{ race.race_form.race_comment }}</p>
      </div>
      <div class="col-md-5">
        <img :src="`assets/images/${category}-racing.jpg`"
          class="img-thumbnail"
          :alt="`${category}-racing-image`">
      </div>
    </div>
    <hr class="featurette-divider">
  </div>
</template>

<script lang="tsx">
import { defineComponent, PropType } from 'vue'
import { DateTime } from 'luxon'
import { IRace, RACE_CATEGORIES } from '@/@types'

export default defineComponent({
  name: 'Card',
  props: {
    race: {
      type: Object as PropType<IRace>,
      required: true,
      default: () => {},
    },
    category: {
      type: String as PropType<RACE_CATEGORIES>,
      default: () => RACE_CATEGORIES.HORSE,
    },
  },
  methods: {
    getCountdownTimer(seconds: number) {
      return DateTime.fromSeconds(seconds).toFormat("dd' days' hh' hours' mm' mins'")
    },
  },
})
</script>
