<template>
  <section class="py-5 my-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">{{ title }}</h1>
        <p class="lead text-muted">{{ subTitle }}</p>
        <button type="button"
          class="btn btn-primary"
          @click="handleNextRaces">View Next to Go Races</button>
      </div>
    </div>
  </section>
</template>

<script lang="tsx">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Intro',
  props: {
    title: {
      type: String,
      default: () => 'Welcome to Entain!',
    },
    subTitle: {
      type: String,
      default: () => 'Your home to exciting races!',
    },
  },
  methods: {
    handleNextRaces() {
      this.$emit('fetchNextRaces')
    },
  },
})
</script>

<style lang="scss" scoped>
</style>
