<template>
  <footer class="text-muted py-5 bg-dark shadow-sm footer mt-auto py-3 bg-light">
    <div class="container">
      <p class="mb-1">{{ text }}</p>
      <p class="mb-0">{{ version }}</p>
    </div>
  </footer>
</template>

<script lang="tsx">
import { defineComponent } from 'vue'

export default defineComponent({
  name: 'Footer',
  props: {
    text: {
      type: String,
      default: 'All rights reserved!',
    },
    version: {
      type: String,
      default: null,
    },
  },
})
</script>

<style lang="scss" scoped>
</style>
