<template>
  <BasicLayout>
    <Intro @fetchNextRaces="fetchNextRaces" />
    <Races v-if="!loading"
      :races="nextRaces" />
  </BasicLayout>
</template>

<script lang="tsx">
import { defineComponent } from 'vue'
import { mapGetters, useStore } from 'vuex'

import { Intro, Races } from '@/components'
import { BasicLayout } from '@/layout'
import { RESOURCES, RequestConfigType, ACTIONS } from '@/@types'


export default defineComponent({
   name: 'Home',
   components: {
     Intro,
     BasicLayout,
     Races,
   },
   data() {
     return {
       loading: false,
     }
   },
   computed: {
     ...mapGetters(['nextRaces']),
   },
   methods: {
     async fetchNextRaces() {
       this.loading = true
       const config: RequestConfigType = {
         resource: RESOURCES.RACING,
         params: {
           method: 'nextraces',
           count: 10,
         },
       }

       try {
         // @ts-ignore: limited vuex ts support
         await this.$store.dispatch(ACTIONS.FETCH_RACES, config)
       } catch (e) {
         console.error('api request error', e)
       } finally {
         this.loading = false
       }
     },
   },
})
</script>

<style lang="scss" scoped>
</style>
