<template>
  <div>
    <Header title="Entain" />
    <main class="flex-shrink-0">
      <slot />
    </main>
  </div>
</template>

<script lang="tsx">
import { defineComponent } from 'vue'
import { Header } from '@/components' // @ is an alias to /src


export default defineComponent({
   name: 'basic-layout',
   components: {
     Header,
   },

})
</script>

<style lang="scss" scoped>
</style>
